<!-- <footer>
  <span class="left">
    Book Store Web App</span>
  <a href="https://developer.mozilla.org">
    <i class="fab fa-js" aria-hidden="true"></i>
  </a>
  <a href="https://angular.io">
    <i class="fab fa-angular" aria-hidden="true"></i>
  </a>
  <a href="https://github.com">
    <i class="fab fa-github" aria-hidden="true"></i>
  </a>
  <span class="right"> &copy; 2018 Book Store - all rights reserved</span>
</footer> -->

<footer>
  <div class="footer-container">
    <div class="footer-section">
      <h4>About Us</h4>
      <p>We are a leading online bookstore dedicated to providing you with the best selection
        of books.</p>
    </div>
    <div class="footer-section">
      <h4>Quick Links</h4>
      <ul>

        <li><a href="#">Home</a></li>
        <li><a href="./book/store/default">Browse Books</a></li>
        <li><a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=new">Contact Us</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h4>Connect With Us</h4>
      <ul class="social-icons">
        <li><a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a></li>
        <li><a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a></li>
        <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
        <li><a href="https://in.linkedin.com/"><i class="fab fa-linkedin"></i></a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h4>Contact Information</h4>
      <p>Email: oninebookstore@gmail.com</p>
  
      <p>Phone: +123 456 7890</p>
    </div>
  </div>
  <div class="copyright">
    &copy; 2023 Book Store - All Rights Reserved
  </div>
</footer>